header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  border-bottom: solid 1px black;
  background-color: rgb(26, 26, 26);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.logo {
  text-align: left;
  left: 10px;
  color: salmon;
  letter-spacing: 1.1;
}
header a {
  font-size: max(1vw, 12px);
  text-decoration: none;
  color: white;
}
header a:hover {
  color: darksalmon;
}
header a:active {
  text-decoration: none;
}

.search {
  margin-bottom: 2px;
  align-self: center;
  border-radius: 15px;
  height: 40px;
  width: 100%;
  max-width: 500px;
  font-size: 20px;
  letter-spacing: 1.2px;
}
.clear-search {
  position: absolute;
  z-index: 1;
  top: 55px;
  right: 15%;
}

@media (min-width: 470px) {
  .logout,
  .host {
    /* align-self: flex-end; */
    font-size: 18px;
    top: 10px;
  }
  .logout-container {
    position: inherit;
    display: flex;
    align-self: flex-end;
    justify-self: right;
    flex-direction: column-reverse;
    top: 5px;
  }
}
