.home-container {
  display: flex;
  flex-direction: column;
}
.home-image {
  max-width: 70vw;
  align-self: center;
  height: auto;
}
.image-container {
  background-color: black;
  background-size: cover;
  width: 110%;
  margin-top: 10px;
  height: 35vh;
  color: white;
}
.main-content {
  text-align: left;
  font-size: 25px;
  margin: 20px;
}
@media (min-width: 470px) {
  .home-image {
    width: 60vw;
  }
  .image-container {
    height: 60vh;
    width: 100%;
  }
}
@media (min-width: 1060px) {
  .image-container {
    height: 70vh;
  }
  .home-image {
    max-height: 50vh;
    width: auto;
  }
}
